* {
  box-sizing: border-box;
}
.codepen,
.profile {
  margin: 2em auto;
}
.codepen h1,
.profile h1 {
  color: #484848;
  font-weight: 100;
}
.codepen a,
.profile a {
  color: #1daaff;
}
.codepen a:hover,
.profile a:hover {
  color: #0072b6;
}
.profile {
  display: flex;
  justify-content: center;
}
.profile {
  max-width: 500px;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  padding: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}
.profile figure {
  margin: 0;
}
.profile figure img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(21, 21, 21, 0.15);
}
.profile header h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
}
.profile header h1 small {
  display: block;
  clear: both;
  padding-top: 10px;
  font-size: 18px;
  opacity: 0.6;
}
.profile main dl {
  display: block;
  width: 100%;
}
.profile main dl dt,
.profile main dl dd {
  float: left;
  padding: 8px 5px;
  margin: 0;
  border-bottom: 1px solid #e1e1e1;
}
.profile main dl dt a,
.profile main dl dd a {
  padding-right: 5px;
}
.profile main dl dt {
  width: 40%;
  padding-right: 10px;
  font-weight: bold;
}
.profile main dl dt:after {
  content: ":";
}
.profile main dl dd {
  width: 60%;
}
.profile main {
  font-size: 16px;
}

label {
  display: block;
  cursor: pointer;
}
.btn-edit {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: #0072b6;
  height: 30px;
  width: 50px;
  margin-top: 30px;
}
.btn-edit button {
  width: 100%;
  background-color: unset;
}
@media screen and (max-width: 520px) {
  .profile {
    padding: 1em;
    margin: 1em;
  }

  .profile img {
    max-width: 100%;
    height: auto;
  }

  .profile main dl,
  .profile main dl dt,
  .profile main dl dd {
    display: block;
    width: 100%;
    float: none;
  }

  .profile main dl dt {
    border-bottom: none;
  }

  .profile main dl dd {
    margin-bottom: 10px;
  }

  .profile {
    top: 15px;
    left: 15px;
  }
}

/* .container-logout {
  display: flex;
  padding-top: 10px;
  height: 24px;
  right: 0;
}

.logout img{
  width: 40px;
  height: 24px;
} */